$primary-indigo-400: #8098f9;
$primary-indigo-500: #6172f3;

$primary-gray-50: #f9fafb;
$primary-gray-100: #f2f4f7;
$primary-gray-200: #eaecf0;
$primary-gray-250: #d9dde2;
$primary-gray-400: #98a2b3;
$primary-gray-500: #667085;
$primary-gray-550: #626b7f;
$primary-gray-600: #475467;
$primary-gray-700: #344054;
$primary-gray-800: #1d2939;
$primary-gray-900: #101828;
