@import '../../../assets/scss/colors';
@import '../../../sharedComponents/assets/scss/helpers';

.energy-usage-chart {
    &-wrapper {
        @extend .borders-base;
        overflow: hidden;
        padding: 1rem 1rem 0.3125rem 1rem;
        position: relative;
    }
    &-value {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-align: left;
        color: $primary-gray-600;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.energy-usage-chart-scroll-container {
    max-height: 18.75rem;
    overflow-y: auto;
    padding-right: 0.225rem;
}

.energy-usage-chart-scroll-container:hover {
    overflow-y: auto !important;
}

.energy-usage-chart-scroll-container::-webkit-scrollbar {
    width: 0.5rem;
}

.energy-usage-chart-scroll-container::-webkit-scrollbar-thumb {
    background-color: #e9dddd;
    border-radius: 0.25rem;
}

.energy-usage-chart-scroll-container::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.EnergyConsumptionWidget {
    &-wrapper {
        padding: 0.9375rem;
        display: inline-block;
        border: 0.0625rem solid $primary-gray-200;
        box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.01), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.06);
        border-radius: 0.5rem;
    }

    &-widget-table-content {
        tr:first-child {
            td {
                padding-bottom: 0.8125rem;
            }
        }
        td {
            padding-bottom: 1.1875rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        tr:last-child {
            td {
                padding-bottom: 0.3125rem;
            }
        }
        td:first-child {
            padding-left: 0;
        }
        td:last-child {
            text-align: right;
            padding-right: 0;
        }
        td:nth-child(2) {
            text-align: right;
        }
    }
    &-item-value {
        margin-right: 0.125rem;
    }
}

.custom-on-hour {
    background-color: $sapient-specific-hvac;
}

.custom-off-hour {
    background-color: $dataviz-red-300;
}

.custom-progress-bar {
    height: 0.8rem;
    border-radius: 0.2rem;
    background-color: $dataviz-background-2;
}

.spacedata-type-widget-wrapper {
    border: 0.0625rem solid $primary-gray-200;
    border-radius: 0.5rem;
}

.spacedata-type {
    min-height: 3rem;

    &-title {
        color: $primary-gray-700;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 0.9375rem;
    }

    &-text {
        font-family: 'Space Grotesk' !important;
        margin: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.625rem;
        color: $primary-gray-800;
    }

    &-unit {
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 0.75rem;
        color: $primary-gray-700;
    }
}
