@import '../../assets/scss/colors';

.tiny-bar-chart {
    &-wrapper {
        background: $primary-gray-150;
        border-radius: 0.2rem;
        position: relative;
        overflow: hidden;
    }
    &-line {
        height: 0.8rem;
    }
}
