.breaker-basic-config {
    display: grid;
    grid-template-columns: 0.5fr 2.25fr 2.25fr;
    gap: 2rem;
}

.breaker-main-config {
    display: grid;
    grid-template-columns: 0.85fr 1.15fr;
    gap: 2rem;
}

.p-default {
    padding: 2rem;
}

.tab-content {
    padding: 0rem !important;
}

.plus-icon-style {
    path: {
        fill: red;
    }
}
