.panel-model-row-style {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    gap: 10px;
}

.panel-edit-model-row-style {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    gap: 15px;
}

.panel-header-styling {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    align-content: stretch !important;
}

.panel-header-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    /* align-content: stretch; */
}

.width-custom-style {
    width: 9vw;
}

.main-breaker-styling {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: stretch !important;
}

.breaker-loader-styling {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    margin-bottom: 50px;
}

.panel-first-row-style {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 2fr; */
    grid-template-columns: 1fr 1fr 2fr;
    gap: 10px;
}

.left-link-container {
    border: 1px solid black;
    border-right: 0px;
    width: 12px;
    height: 54px;
}

.left-link-container-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    position: relative;
    right: 10px;
    top: 17px;
    width: 21px;
    height: 17px;
    background: #f9fafb;
    border: 1px solid #eaecf0;
    border-radius: 3px;
}

.right-link-container {
    border: 1px solid black;
    border-left: 0px;
    width: 12px;
    height: 54px;
}

.right-link-container-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    position: relative;
    left: 1px;
    top: 17px;
    width: 21px;
    height: 17px;
    background: #f9fafb;
    border: 1px solid #eaecf0;
    border-radius: 3px;
}

.edit-panel-title {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 28px !important;
    color: #101828 !important;
}

.edit-panel-subtitle {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #667085 !important;
}

.selection-volts-style {
    display: block;
    width: 15vw !important;
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4b4b5a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e7f1;
    border-radius: 0.3rem;
}

.disconnect-breaker-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-left: 25%;
    margin-top: 2vh;
    gap: 15px;
}

.breaker-link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 10px;
    width: 25px;
    height: 25px;
    background: #f9fafb;
    border: 1px solid #eaecf0;
    /* border: 1px solid #bababa; */
    border-radius: 3px;
}

.edit-breaker-no {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #667085 !important;
}

.edit-breaker-title {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    color: #101828 !important;
}

.edit-form-breaker {
    width: 95%;
    height: 1px;
    background: #eaecf0;
}

.edit-breaker-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #1d2939;
}

.panel-edit-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
}

.breaker-phase-selection {
    display: block;
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4b4b5a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e7f1;
    border-radius: 0.3rem;
}

.breaker-lvl-width {
    width: auto !important;
}

.dropdown-container {
    width: 100%;
}

.breakers-list-style {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.breaker-equipName-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fields-disabled-style {
    background: #e9ecef !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
}

.edgebutton {
    width: 20px !important;
    height: 20px !important;
    background: #eee !important;
    border: 1px solid #fff !important;
    cursor: pointer !important;
    border-radius: 50% !important;
    font-size: 12px !important;
    line-height: 1 !important;
}

.edgebutton:hover {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
}

.edgebutton-foreignobject body {
    background: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}

.link_button_style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 10px;
    width: 27px;
    height: 23px;
    background: #e0eaff;
    border: 1px solid #eaecf0;
    border-radius: 3px;
}

.unlink_button_style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 10px;
    width: 27px;
    height: 23px;
    background: #f9fafb;
    border: 1px solid #eaecf0;
    border-radius: 3px;
}

.danger-zone-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #475467;
}

.unlink-btn-style {
    background: #b42318;
}

.unlink-alert-styling {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1d2939;
}

.unlink-heading-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #101828;
}

.unlink-reset-style {
    background: #d92d20 !important;
    border: 1px solid #b42318 !important;
    box-shadow: 0px 1px 0px rgba(16, 24, 40, 0.05) !important;
    border-radius: 6px !important;
    font-weight: 600 !important;
}

.unlink-cancel-style {
    background: #ffffff !important;
    border: 1px solid #d9dde2 !important;
    box-shadow: 0px 1px 0px rgba(16, 24, 40, 0.05) !important;
    border-radius: 6px !important;
    color: black !important;
    font-weight: 600 !important;
}

.dropdownScrollaleDisable {
    overflow: hidden;
}
.dropdownScrollaleDisable::-webkit-scrollbar {
    display: none;
  } 