.panel-model-row-style {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.panel-header-styling {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    align-content: stretch !important;
}

.panel-header-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.width-custom-style {
    width: 10vw;
}

.main-breaker-styling {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: stretch !important;
}

.panel-first-row-style {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    gap: 10px;
}
