.panel-model-row-style {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.panel-edit-model-row-style {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    gap: 15px;
}

.panel-header-styling {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    align-content: stretch !important;
}

.panel-header-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.width-custom-style {
    width: 10vw;
}

.main-breaker-styling {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: stretch !important;
}

.panel-first-row-style {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 2fr; */
    grid-template-columns: 1fr 1fr 2fr;
    gap: 10px;
}

.left-link-container {
    border: 1px solid black;
    border-right: 0px;
    width: 12px;
    height: 54px;
}

.left-link-container-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    position: relative;
    right: 10px;
    top: 17px;
    width: 21px;
    height: 17px;
    background: #f9fafb;
    border: 1px solid #eaecf0;
    border-radius: 3px;
}

.right-link-container {
    border: 1px solid black;
    border-left: 0px;
    width: 12px;
    height: 54px;
}

.right-link-container-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    position: relative;
    left: 1px;
    top: 17px;
    width: 21px;
    height: 17px;
    background: #f9fafb;
    border: 1px solid #eaecf0;
    border-radius: 3px;
}

.edit-panel-title {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 28px !important;
    color: #101828 !important;
}

.edit-panel-subtitle {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #667085 !important;
}

.selection-volts-style {
    display: block;
    width: 15vw !important;
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4b4b5a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e7f1;
    border-radius: 0.3rem;
}

.disconnect-breaker-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-left: 25%;
    margin-top: 2vh;
    gap: 15px;
}
