@import '../../assets/scss/colors';

.auth-container{
    margin:0 auto !important;
    }

.backgroundStyle{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }


.name{
    font-family: Space Grotesk !important;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.375rem;
    letter-spacing: 0em;
    text-align: left;
}    

.sub-button{
    width:100%;
    justify-content: center;
}
 .or-text{
    text-align: center;
    // padding-top: 0.875rem;
    // padding-bottom: 0.875rem;
 }

.btn-secondary {
    background-color:none !important;
    border-color:none !important
}

.logoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.logoDesign{
    width: 9.375rem;
    height:3.125rem;
}

body{
    margin:0px !important;
}

.rightContentStyle{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rightSide{
    height: 100%;
    width: 100%;
}

.carousel-caption{
    padding-top: 0rem;
    padding-bottom: 65%;
}

h3{
    color: $base-white;
}

.text-mute{
    color: $primary-gray-550;
    font-weight: 500 !important;
    font-size: 0.75rem;
}

.text-mute-error{
    color: $error-700 !important;
    font-weight: 500 !important;
    font-size: 0.75rem;
}


.text-muted{
    color: $primary-gray-550;
    font-weight: 500 !important;
    font-size: 0.75rem;
    padding-top: 0.75rem;
    
}

.alertPop{
    background: $success-100 !important;
    border-color: $success-100 !important;
    color: $success-900 !important;
    border-radius: 0.25rem;
}

.alertText{
    color: $success-900;
    font-weight: 600 !important;
    font-size: 1rem;
}

.rowField{
    display: flex;
    flex-direction: row;
}
.columnField{
    display: flex;
    flex-direction: column;
}
    