@import '../../assets/scss/colors';
@import '../assets/scss/helpers';

.stacked-column-chart {
    &-wrapper {
        @extend .box-shadow-md;
        @extend .borders;
        border-radius: 0.5rem;
        padding: 1rem 1rem 0.3125rem 1rem;
        position: relative;

        .highcharts-legend-item {
            margin-top: -0.25rem;
            .highcharts-point {
                width: 0.5rem;
                height: 0.5rem;
            }
        }

        .chart-tooltip {
            @extend .box-shadow-lg;
            padding: 0.4375rem 0.8125rem;
            background: $base-white;

            border-radius: 0.25rem;
            overflow: hidden;

            border: 0.0625rem solid $primary-gray-450;

            td + td {
                padding-left: 1rem !important;
            }
        }
    }

    &-more-detail {
        position: absolute;
        bottom: 1rem;
        right: 0.5rem;
    }
    &-download-button {
        padding: 0 !important;
        height: 2.25rem;
        width: 2.25rem;
        justify-content: center;
        &.button svg path {
            fill: $primary-gray-800;
        }
    }
    &-actions {
        gap: 0.5rem;
    }
    &-unit-wrapper {
        margin-right: 1rem;
        text-align: right;
        margin-top: -0.375rem;
    }
    &-unit-text {
        margin-left: 0.4rem;
    }
    &-unit-text {
        margin-bottom: 0.125rem;
    }
    &-select-unit {
        width: 14.375rem;
    }
}

.stacked-column-container {
    padding: 0;
    background: $base-white;
    min-height: 37vh;
    position: relative;
    display: flex;
    flex-direction: column;

    &-loader {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 45vh;
        color: $primary-indigo-400;
    }
}
