@import '../../assets/scss/colors';
@import '../assets/scss/helpers';

.stacked-column-chart {
    &-wrapper {
        @extend .box-shadow-md;
        @extend .borders;
        border-radius: 0.5rem;
        padding: 1rem 1rem 0.3125rem 1rem;
        position: relative;
    }

    &-more-detail {
        position: absolute;
        bottom: 1rem;
        right: 0.5rem;
    }
}
