@import '../../assets/scss/colors';
@import '../../sharedComponents/assets/scss/helpers.scss';

.options-wrapper {
    @extend .borders-base;
    overflow: hidden;
    padding: 1rem 1rem 0.3125rem 1rem;
    position: relative;
    cursor: pointer;
}

.active-selection {
    @extend .borders-base;
    overflow: hidden;
    padding: 1rem 1rem 0.3125rem 1rem;
    position: relative;
    cursor: pointer;
    background-color: $dataviz-blue-50;
    border-color: $dataviz-blue-400;
}
