.energy-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 2px soild black; */
}

@media screen and (max-width: 1194px) {
    .energy-container {
        grid-template-columns: 1fr;
    }
}
/* 1834 */
@media (min-width: 1194px) and (max-width: 1234px) {
    .energy-container {
        grid-template-columns: 1fr 1fr;
    }
}
​ .usage-card {
    display: grid;
    margin: 350px;
}

.usage-title-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #1d2939;
}

.subtitle-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #667085;
}

.usage-card-content-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #1d2939;
}

.card-unit-style {
    margin-top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #1d2939;
}

.content-stying {
    width: 13%;
}

.light-content-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #667085;
}

.enduses-button-style {
    display: inline-block;
}

.btn-font-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #f04438;
}

/* .custom-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    display: flex;
    align-items: center;
    color: #1f2937;
} */

.energy-chart-style {
    height: 50%;
    width: 100%;
    background: #ffffff;
    border-radius: 8px;
}

.card-group-style {
    background-color: #f9fafb;
    box-shadow: 0px 0px 2px rgb(179, 179, 179);
}

.usage-card-box-style {
    height: auto;
    background: red;
    background: #f9fafb;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    margin-top: 6px;
}

.endUses-button-container {
    background: #f9fafb;
    border: 1px solid #f2f4f7;
    box-sizing: border-box;
    border-radius: 8px;
    width: 96%;
    height: 147px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.06);
}

.custom-subtitle-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #667085;
    margin-top: 0px;
}

.custom-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1d2939;
    margin-bottom: 0px;
}

.indicate {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    /* margin-top: 6px; */
}