@import '../../assets/scss/colors';

.TableFilterWidget {
    &-columns {
        min-width: 11.26rem;
    }
    &-filters {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 0.5rem;
    }
    .input-wrapper {
        max-width: 15rem;
    }
    .react-select-wrapper {
        display: inline-block;
    }
}
