color-style {
    color: #9bb4da;
    color: #819dc9;
    color: #678bc1;
    color: #6585b4;
    color: #4678c2;
    color: #0d5ed7;
    color: #c2cee1;
    color: #c2cee1;
    color: #c2cee1;
    color: #FB9191;
}
