// 
// header.scss
//

.heading-style {
    font-family: 'Space Grotesk' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 125%;
    color: #1D2939;
    margin-left: 1.25rem;
}