@import '../../assets/scss/colors';
@import '../assets/scss/helpers';

.end-uses-kpi {
    &-wrapper {
        display: flex;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        flex-wrap: wrap;
    }

    @extend .borders-base;
    display: inline-block;
    min-width: 100%;
    min-height: 9rem;

    padding: 1.5rem;

    .end-uses-kpi-widget-content {
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    .button-wrapper {
        margin: auto 0 auto auto;

        .button.md {
            padding-top: 0.375rem;
            padding-bottom: 0.375rem;
        }
    }

    &-trends-badge-wrapper {
        .end-uses-kpi-trend-badge:not(:last-child) {
            margin-bottom: 0.25rem;
        }
    }
}
