@import "../../../assets/scss/colors";

.input-wrapper {
  position: relative;

  .input-icon {
    position: absolute;
    width: 1.25rem;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .input-control {
    padding-left: 2.375rem;
    padding-top: 0;
    padding-bottom: 0;
    height: 2.125rem;
    border-color: $primary-gray-250;
    box-shadow: 0px 1px 0px 0px #1018280D;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 0.875rem;
    color: $primary-gray-500;
  }
}

