.topbar-nav {
    background-color: black !important;
}

/* Search Modal  */

.all-building-btn {
    background: #1d2735 !important;
    border-radius: 8px !important;
    height: 42px !important;
    width: 263px !important;
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #cacaca !important;
    margin-bottom: 0px !important;
}

.custom-search-box {
    background: #ffffff !important;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.01), 0px 1px 2px rgba(16, 24, 40, 0.06) !important;
    border-radius: 6px !important;
    margin: 0px !important;
    width: 600px !important;
    height: 48px !important;
    padding: 12px 16px !important;
}

.search-result-body {
    background: #ffffff;
    border: 1px solid #eaecf0;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.01), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 6px;
    width: 600px;
    /* height: 394px; */
    padding: 12px 12px 16px;
}

/* .search-result-row {
} */

.route-tracker {
    width: fit-content;
    height: 100%;
    left: 8px;
    top: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1d2939;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.recent-btn-grp {
    padding: 4px;
    background: #f9fafb;
    border: 1px solid #f2f4f7;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.search-filter {
    padding: 4px;
    margin: 5px;
}

.search-filter:hover {
    background: #f9fafb;
    border: 1px solid #f2f4f7;
    box-sizing: border-box;
    border-radius: 8px;
}

.search-filter:hover .search-border {
    opacity: 1 !important;
}

.search-filter:hover .icon-display {
    opacity: 1 !important;
}

.icon-display {
    opacity: -1;
}

.search-border {
    width: 3px;
    height: 40px;
    background: #4d53ed;
    box-shadow: 0px 0px 10px rgba(60, 101, 245, 0.3), 0px 0px 4px rgba(60, 101, 245, 0.3);
    opacity: -1 !important;
}

.recent-search-nmbr {
    padding: 2px 10px;
    background: #f2f4f7;
    border-radius: 16px;
    margin: 0px 0px;
    width: 28px;
    height: 22px;
}

.search-content-style {
    display: grid;
    grid-template-columns: 0fr 1fr 10fr 0.4fr;
}

.search-icon-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-result-title {
    color: #1d2939;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.search-result-subtitle {
    color: #7c879c;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.search-result-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recent-btn {
    width: 214px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recent-btn:hover {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 6px;
}

.search-modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #ccd6e1;
    background-color: #f9fafb;
    background: red; */
    background: rgba(255, 255, 255, 0.15);
}

.modal-custom-container {
    margin: 30px;
    position: fixed;
    height: auto;
    width: auto;
    top: 10px;
    left: calc(50% - 300px);
    bottom: 40px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
    /* opacity: 0.5 !important; */
}

/* page tracker  */
.page-tracker-container {
    height: 45px;
    left: 0px;
    right: 0px;
    top: 45px;
    background: #ffffff;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.tracker-dropdown {
    display: flex;
    align-items: center;
    padding: 5px;
    width: fit-content;
}

.vl {
    background: #eaecf0;
    width: 1px;
    height: auto;
    left: 279px;
    top: 8.5px;
    margin: 4px;
}
.account-setting-options {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
}
.account-option {
    color: #7c879c;
    margin-right: 2rem;
}
.content-font-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #1d2939;
    margin-bottom: 0px;
}

#bts-button-styling {
    background: #ffffff;
    width: fit-content;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1d2939;
    border: none;
    box-shadow: none;
    margin-left: 0px;
    margin-right: 0px;
}

#bts-button-styling:hover {
    background: #f2f4f7 !important;
}

.custom-breadcrumb-style {
    background: transparent;
    height: 3.3em;
    width: 100%;
    padding-top: 2px;
    margin: 0px !important;
    margin-top: 5px !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #1d2939;
}

.breadcrumb {
    background: #ffffff;
}

.custom-breadcrumb-font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #667085 !important;
}

.custom-breadcrumb-font-bold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1d2939 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '>' !important;
    padding-left: 2px !important;
}

.navbar-container {
    /* padding: 0px 8px 0px 0px; */
    /* height: 45px; */
    /* left: 0px;
    right: 0px;
    top: 0px; */
    display: flex;
    flex-direction: row;
    background: #101828;
    /* height: 55px; */
    height: fit-content;
    padding: 0px !important;
    /* height: min-content; */
}

.energy-links-style {
    display: flex;
    flex-direction: row;
}

/* Add a black background color to the top navigation */
/* .topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav {
    overflow: hidden;
    background-color: #f1f1f1;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid red;
}

.topnav a.active {
    border-bottom: 3px solid red;
} */

.navbar-custom-links {
    padding: 13px;
    /* height: 100%; */
}

.navbar-custom-links,
.navbar-text-style:hover {
    color: white;
    /* font-weight: 600; */
}

/* .navbar-custom-links:hover {
    border-bottom: 2px soild red !important;
    background: #cacaca;
} */

.navbar-custom-links li a {
    list-style-type: none;
    /* height: 100%; */
}

.navbar-custom-links:hover {
    padding-bottom: 4px;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.navbar-text-style {
    color: #e4d6d6;
}

.energy-topnav-custom {
    position: fixed;
    /* top: 0vh; */
    width: 100%;
    /* height: 45px; */
    /* overflow: hidden; */
}

.energy-second-nav-custom {
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 0;
    top: 2.8125rem;
    height: 3em;
}

.nav-height-custom {
    height: 50px !important;
}

.portfolio-txt-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #1d2939;
}

.energy-top-nav {
    position: fixed;
    vertical-align: top;
    background: #101828;
    height: 2.8125rem;
    width: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
}

.energy-logo-style {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.75rem;
}

.energy-logo-link-style:hover path {
    fill: white;
}

.energy-side-nav {
    position: fixed;
    left: 0;
    top: 6em;
    width: 185px;
    height: 100%;
    background-color: #f9fafb;
    padding-left: 1.5em;
}

.energy-page-content {
    margin-top: 6em;
    position: relative;
    margin-left: 185px;
    /* padding-left: 2vw; */
    padding-left: 0vw;
    /* padding-top: 1.5vw; */
    padding-top: 0vw;
    /* padding-right: 2vw; */
    padding-right: 0vw;
    height: 100%;
    background-color: #ffffff;
}

.top-nav-routes-list {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}

/* .energy-logo-style {
    width: fit-content;
    display: inline-block;
} */

.custom-icon-style {
    height: 20% !important;
}

.side-nav-content {
    padding: 5px;
    padding-left: 15px;
    width: 100%;
    background: #f9fafb;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #626b7f;
}

.side-nav-content-active {
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    background: #ffffff;
    box-shadow: 0px 1px 0px rgba(16, 24, 40, 0.05);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #1d2939;
    border: solid #4d53ed;
    border-width: 0 0 0 3px;
}

.side-nav-content:hover {
    width: 100%;
    /* background: #ffffff; */
    background: #e9e3e3;
    box-shadow: 0px 1px 0px rgba(16, 24, 40, 0.05);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #1d2939;
}

.navbar-head-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    border-bottom: 0.1875rem solid transparent;
    border-top: 0.1875rem solid transparent;
}

.navbar-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: grey;
}

/* .navbar-heading:hover {
    color: white !important;
} */

.navbar-head-container:hover {
    border-bottom: 0.1875rem solid #3c65f5;
}

div.navbar-head-container:hover .font-icon-style {
    color: white !important;
}
div.navbar-head-container:hover .navbar-heading {
    color: white !important;
}

.navbar-icon-container-active {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
    border-bottom: 0.1875rem solid #3c65f5 !important;
    color: white !important;
}

.navbar-icon-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
    color: white !important;
    border-bottom: 0.1875rem solid transparent;
    border-top: 0.1875rem solid transparent;
}

.other-font-icon-style {
    color: grey !important;
    padding: 0;
    border: 0;
}

.other-font-icon-style:hover {
    color: white !important;
}

div.navbar-icon-container:hover {
    border-bottom: 3px solid #3c65f5 !important;
}

div.navbar-icon-container:hover .other-font-icon-style {
    color: white !important;
}

.navbar-head-container.active {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 3px solid #3c65f5 !important;
    background: radial-gradient(55.59% 55.59% at 50% 91.96%, rgba(77, 83, 237, 0.27) 0%, rgba(16, 24, 40, 0) 100%);
    color: white !important;
}

.font-icon-style.active {
    color: white !important;
}

.font-icon-style {
    color: grey !important;
    margin-right: 0.4375rem;
}
.font-icon-style svg {
    font-size: 0.9375rem;
}

.navbar-heading.active {
    color: white !important;
}

.filter-bld-style {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.filter-name-style {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}
