.card-title-style {
    display: flex;
    align-items: center;
    color: #5a6472;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.energy-blg-container-three {
    width: 20vw;
    /* margin-right: 3vw; */
}

.card-box-style {
    height: fit-content;
    background: #f9fafb;
    /* border: 1px solid #f3f4f6; */
    /* box-sizing: border-box; */
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.06); */
    /* border-radius: 10px; */
    /* font-family: 'Inter', sans-serif; */
}

.dot {
    position: static !important;
    width: 8px !important;
    height: 8px !important;
    border-radius: 20px;
    margin-top: 6px;
}

/* .card-box-style:hover {
    height: 90px;
    background: rgb(224, 222, 222);
    border: 1px solid #f3f4f6;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
} */

.card-box-style1:active {
    height: 90px;
    background: rgb(0, 255, 76);
    border: 1px solid #f3f4f6;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.button-style {
    display: inline-block;
}

#inner-button {
    border: 1px solid #e4e7ec;
    box-sizing: border-box;
    border-radius: 4px;
}

.custom-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #798190;
}

.peak-demand-container {
    margin-right: 1rem;
    background: #f9fafb;
    border: 2px soild red;
    height: 175px !important;
}

.peak-demand-container:hover {
    background-color: white;
}

.bldg-row-styling {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.end-use-container-style {
    height: fit-content;
    width: 100%;
}

.building-dot {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    margin-top: 6px;
}

.building-table-font-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1d2939;
}

.building-consumption-style {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr 1fr;
    gap: 2px;
    margin-bottom: 5px;
}

.building-consumption-style:hover {
    border-radius: 5px;
    border: 1px solid #e0e1e3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    background: #f9fafb;
}

.alert-card {
    align-items: flex-start;
    padding: 10px;
    background: #f9fafb;
    border-radius: 8px;
    width: 314px;
    height: 60px;
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 1fr;
    gap: 2px;
}

.alert-card:hover {
    box-shadow: 0px 0px 1px rgb(179, 179, 179);
}

.alert-weekday {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #667085;
    margin-right: 0px;
}

.alert-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1d2939;
}

.alert-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #667085;
}

.right-side-container {
    display: flex;
    flex-direction: column;
}
/* .right-side-container {
    display: grid;
    grid-template-rows: 1fr;
    gap: 4px;
} */

.custom-usage-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
}

.equip-table-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #667085;
}

.equip-table-unit {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 10%;
    color: #4c5e75;
}

.equip-table-button {
    background: #fef3f2;
    border-radius: 6px;
    /* width: 54px; */
    height: 20px;
    /* padding: 1px 4px; */
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.equip-table-container {
    background: #ffffff;
    border: 1px solid #eaecf0;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 314px;
    min-height: 354px;
}

.hour-avg-consumtn {
    background: #ffffff;
    border: 1px solid #eaecf0;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 15px;
}

.total-eng-consumtn {
    background: #ffffff;
    border: 1px solid #eaecf0;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 15px;
    padding: 1rem;
}

.endUses-eng-consumtn {
    background: #ffffff;
    border: 1px solid #eaecf0;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 15px;
}

.top-peak-demand-style {
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.top-equip-title {
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1d2939;
    margin-top: 15px;
    margin-left: 10px;
}

.peak-demand-card-style {
    color: #667085;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0.2vw !important;
}

.peak-card-label {
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.peak-table-content {
    padding: 2px !important;
}

.peak-table-content-two {
    padding: 0px !important;
    margin-left: 5px !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
}

.peak-table-font {
    color: #667085;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.equip-table-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #1d2939;
}

.energy-blg-container {
    display: flex;
    flex-direction: row;
}

.energy-blg-container-one {
    display: grid;
}

.energy-blg-container-one-content {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
}

/* .energy-blg-container-two {
    width: 100%;
} */

.energy-chart-style {
    width: 250px;
}

/* .bldg-dot {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    margin-top: 6px;
} */

.custom-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1d2939;
    margin-bottom: 0px;
}

.custom-subtitle-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #667085;
}

.custom-hover-btn-style {
    gap: 8px;
    width: 101px;
    height: 34px;
    background: #ffffff;
    border: 1px solid #d9dde2;
    box-shadow: 0px 1px 0px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
}

.bldg-page-grid-style {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2.5rem;
}

.custom-bldg-table-style {
    display: grid;
    grid-template-columns: 0.7fr 1.5fr 2fr 2fr;
}

.custom-bld-equip-style {
    height: 20px !important;
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #1d2939 !important;
}

.custom-bld-usage-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #475467;
    mix-blend-mode: normal;
    width: 7vw;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    /* overflow-x: auto; */
    text-size-adjust: auto;
}

.record-bld-style {
    width: 5vw !important;
    text-align: left !important;
    /* background: red; */
    /* font-family: 'Inter', sans-serif; */
}

.custom-bld-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #f04438;
    width: 7vw;
}

.custom-bld-enduse-style {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-top: 3vh;
    gap: 2vw;
}

.container-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}
