@import '../../assets/scss/colors';

.buidling-switcher-container {
    border-bottom: 0.0625rem solid $primary-gray-200;
    background: $base-white;

    .react-select-option-icon {
        padding: 0 !important;
    }
}

.building-switcher {
    width: 20.75rem !important;
}

.secondary-nav-style {
    left: 0;
    top: 2.8125rem;
    height: 2.75rem;
}
