@import '../../assets/scss/colors';

.equip-type-socket {
    width: 100%;
    min-height: fit-content;
    background: $primary-gray-50;
    border: 0.0625rem solid $primary-gray-150;
    padding: 1.5rem;
}

.line-chart-loader {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-fullscreen {
    width: 92vw !important;
    height: 92vh !important;
    max-width: none !important;
}

.modal-fullscreen .modal-dialog {
    margin: 0 !important;
    max-width: none !important;
}

.modal-fullscreen .modal-content {
    height: 100% !important;
    border-radius: 0 !important;
}
