@import '../../assets/scss/colors';

.TopConsumptionWidget {
    &-wrapper {
        padding: 1rem;
        display: inline-block;
        border: 0.0625rem solid #eaecf0;
        box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.01), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.06);
        border-radius: 0.5rem;
    }

    &-table {
        display: inline-grid;
        gap: 0.5rem;

        &-head-cell {
            color: $primary-gray-550;
        }
        &-row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
        }
    }
}

.TopEnergyConsumersWidget {
    &-wrapper {
        padding: 1rem;
        display: inline-block;
        border: 0.0625rem solid #eaecf0;
        box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.01), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.06);
        border-radius: 0.5rem;
    }

    &-table {
        display: inline-grid;
        gap: 0.65rem;

        &-head-cell {
            color: $primary-gray-550;
        }
        &-row {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            gap: 1rem;
        }
    }
}

