@import '../../assets/scss/colors';

.custom-on-hour {
    background-color: $sapient-specific-hvac;
}

.custom-off-hour {
    background-color: $dataviz-red-300;
}

.custom-progress-bar {
    height: 0.8rem;
    border-radius: 0.2rem;
    background-color: $dataviz-background-2;
}
