@import '../../../assets/scss/colors';
@import '../../assets/scss/helpers';

.radio {
    &-wrapper {
        label {
            margin: 0;
            display: flex;
            gap: 0.75rem;
            cursor: pointer;
        }
    }

    appearance: none;
    color-adjust: exact;
    print-color-adjust: exact;
    width: 1.25rem;
    height: 1.25rem;
    background: $base-white;
    border: 0.0625rem solid $primary-gray-450;
    border-radius: 0.625rem;
    cursor: pointer;

    display: grid;
    place-content: center;

    &:focus {
        box-shadow: 0rem 0rem 0rem 0.25rem $dataviz-blue-100;
    }
    &:checked {
        background: $primary-indigo-50;
        border: 0.0625rem solid $primary-indigo-600;
    }
    &:checked::before {
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background: $primary-indigo-600;
        display: block;
    }

    &:hover {
        background: $primary-indigo-100;
    }

    &:disabled {
        background: $primary-indigo-100;
        border: 0.0625rem solid $primary-gray-250;

        &::before {
            background: $primary-gray-250;
        }
    }
}
