@import '../assets/scss/stories.scss';

.explore-chart-wrapper {
    border: 1px solid #EAECF0;
    padding: 16px;
    border-radius: 8px;

    .chart-header {
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        .button-wrapper button{
            padding: 0.75rem;
        }
    }
}