.energy-side-nav-style {
    top: 13vh;
    /* z-index: -1; */
    position: relative;
}

.energy-content-page-style {
    top: 13vh;
    /* z-index: -1; */
}

.page-card-style {
    height: 300vh;
}

.custom-top-fix {
    padding: 0vh;
    top: -2vh;
}

.custom-content-body {
    display: grid;
    grid-template-columns: 0.4fr 2fr;
}

.energy-page-content {
    margin-top: 6em;
    position: relative;
    margin-left: 185px;
    /* padding-left: 2vw; */
    padding-left: 0vw;
    /* padding-top: 1.5vw; */
    padding-top: 0vw;
    /* padding-right: 2vw; */
    padding-right: 0vw;
    height: 100%;
    background-color: #ffffff;
}

.energy-side-nav {
    position: fixed;
    left: 0;
    top: 6em;
    width: 185px;
    height: 100%;
    background-color: #f9fafb;
    padding-left: 0em !important;
}
