.energy-side-nav-style {
    top: 13vh;
    /* z-index: -1; */
    position: relative;
}

.energy-content-page-style {
    top: 13vh;
    /* z-index: -1; */
}

.page-card-style {
    height: 300vh;
}

.custom-top-fix {
    padding: 0vh;
    top: -2vh;
}
