.card-title-style {
    font-style: normal;
    /* font-family: 'Inter', sans-serif; */
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #5a6472;
}

.card-content-style {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: right;
    /* font-family: 'Inter', sans-serif; */
    color: #1f2937;
}

.card-unit-style {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #4b5563;
    /* font-family: 'Inter', sans-serif; */
}

.card-box-style {
    height: fit-content;
    background: #f9fafb;
    /* border: 1px solid #f3f4f6; */
    /* box-sizing: border-box; */
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.06); */
    /* border-radius: 10px; */
    /* font-family: 'Inter', sans-serif; */
}

.custom-loading-style {
    margin-top: 30vh !important;
    align-items: center !important;
    margin-left: 30vw;
}

/* .card-box-style:hover {
    height: 90px;
    background: rgb(224, 222, 222);
    border: 1px solid #f3f4f6;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
} */

.donet-style {
    position: static;
    width: 632px;
    height: 272px;
    left: calc(50% - 632px / 2);
    top: calc(50% - 272px / 2 + 27.5px);
    background: #ffffff;
    border: 1px solid #e4e7ec;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    /* font-family: 'Inter', sans-serif; */
}

.heading-style {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: #1f2937;
    /* font-family: 'Inter', sans-serif; */
}

.custom-buttons {
    border: 1px solid #e5e7eb;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    /* font-family: 'Inter', sans-serif; */
}

.custom-button-group {
    float: right;
    justify-self: end;
    padding-right: 0.5rem;
    text-align: center;
    margin-bottom: 0px;
}

.header-widget-styling {
    color: black !important;
    font-weight: bold !important;
    /* font-family: 'Inter', sans-serif; */
}

/* .custom-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #1f2937;
} */

.custom-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #798190;
    /* font-family: 'Inter', sans-serif; */
}

.portfolio-map-widget {
    position: relative;
    height: auto;
    width: auto;
    left: 3px;
    top: 15px;
    bottom: 30px;
    background: #f9fafb;
}

.progress-bar-container {
    position: static;
    width: 100%;
    height: 40px;
    border: 0.5px solid red;
    background: #ffffff;
    border: 0.5px solid #edeff3;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    /* font-family: 'Inter', sans-serif; */
}

/* .progress-bar-container {
    height: 44px;
} */

.progress-title:hover,
.progress-bar-container:hover {
    /* box-shadow: 0px 0px 5px rgb(172, 171, 171); */
    /* background: rgb(224, 222, 222); */
    border-radius: 6px;
    text-decoration: underline;
    /* font-family: 'Inter', sans-serif; */
}

.progress-bar-container:hover {
    box-shadow: 0px 0px 5px rgb(172, 171, 171);
}

.progress-bar-line {
    background: #d14065;
    border-radius: 20px;
}

.store-name {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    /* font-family: 'Inter', sans-serif; */
    display: flex;
    align-items: center;
    color: #9ca3af;
}

.button-success {
    position: static;
    width: 47px;
    height: 22px;
    left: 118px;
    top: 4px;
    border: 0.5px solid #d1fae5;
    background: #d1fae5;
    border-radius: 6px;
}

.button-danger {
    position: static;
    width: 47px;
    height: 22px;
    left: 118px;
    top: 4px;
    border: 0.5px solid #fee2e2;
    background: #fee2e2;
    border-radius: 6px;
}

.store-name-style {
    font-style: normal;
    /* font-family: 'Inter', sans-serif; */
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #1f2937;
}

.store-value-style {
    font-style: normal;
    /* font-family: 'Inter', sans-serif; */
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #4b5563;
}

.custom-navbar {
    margin: 0px !important;
    height: fit-content !important;
    background: #101828 !important;
    padding: 0px 8px 0px 0px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    color: red !important;
    padding-top: 5px !important;
}

.nav-right-icon-style {
    /* background: red; */
}

.custom-navbar-fonts {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #ffffff !important;
    /* font-family: 'Inter', sans-serif; */
}

.custom-equip-style {
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #1f2937;
    /* font-family: 'Inter', sans-serif; */
}

.custom-usage-style {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.44px;
    color: #4b5563;
    /* font-family: 'Inter', sans-serif; */
}

.custom-percent-style {
    position: static;
    width: 54px;
    height: 22px;
    left: 208px;
    top: 8px;
    background: #fef2f2;
    border-radius: 6px;
    /* font-family: 'Inter', sans-serif; */
}

.button-style {
    display: inline-block;
}

.custom-cards {
    width: fit-content;
    height: fit-content;
}

#chartdiv {
    width: 95%;
    height: 375px;
}

.select-button {
    border: 1px solid #eaecf0;
    box-sizing: border-box;
    border-radius: 6px 0px 0px 6px;
    display: inline-block;
    /* height: 40px; */
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.progress-title {
    font-size: small;
    /* font-family: 'Inter', sans-serif; */
}

.card-title {
    font-weight: bold;
    /* font-family: 'Inter', sans-serif; */
}

.table-font-style {
    font-size: small;
    font-family: 'Inter', sans-serif;
}

.record-style {
    width: 8vw !important;
    text-align: left !important;
    /* background: red; */
    /* font-family: 'Inter', sans-serif; */
}

.consumption-style {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
}

.consumption-style:hover {
    border-radius: 5px;
    border: 1px solid #e0e1e3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    background: #f9fafb;
}

.dot {
    position: static !important;
    width: 8px !important;
    height: 8px !important;
    border-radius: 20px;
    margin-top: 6px;
}

.custom-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1d2939;
    margin-bottom: 0px;
}

/* .donut-container-style {
    background: red;
}

.donut-content-style {
    background: white;
    width: fit-content;
    position: absolute;
    bottom: 40%;
    left: 40%;
} */

.custom-subtitle-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #667085;
    margin-top: 0px;
}

.btn-font-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #f04438;
}

.subtitle-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #667085;
}

.energy-summary-alignment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 6px;
    gap: 8px;
    width: auto;
    height: auto;
    background: #f9fafb;
    border: 1px solid #f2f4f7;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    margin-left: 30px;
}

* {
    font-family: 'Inter', sans-serif !important;
}
