.search-fields {
    display: inline-block;
    width: 25%;
}

.building-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.0625rem;
    display: flex;
    align-items: center;
    color: #2955e7;
}

.table-heading-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1.0625rem;
    color: #475467;
}

.table-content-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.375rem;
    color: #475467;
}

.btn-font-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1.125rem;
    color: #f04438;
}

.value-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.0625rem;
    color: #475467;
}

.building-name :hover {
    text-decoration: underline !important;
}

.building-groups {
    display: inline-block;
}

.search-style {
    width: 15rem;
    height: 2.125rem;
}

/* .progress {
    margin-left: 50%;
    margin-right: auto;
} */

.custom-progress {
    color: #c64245;
}
